.games{
    width: 300px;
    font-family: 'Black Han Sans', sans-serif;
}

.food{
    width: 300px;
   font-family: 'Black Ops One', cursive;
}

.instrument{
    width: 300px;
    font-family: 'Kumar One Outline', cursive;
}

.phone{
    width:300px;
    font-family: 'Monoton', cursive;
}